@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MINDTEC Solutions </h1>
    <p class="lead">Let us help you choose the solutions that best fit your needs...</p>
    <p><a class="btn btn-primary btn-large" @Html.ActionLink("Learn more", "Services", "Services") </a></p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/Images/img3.jpg" style="width:300px; height:175px" />
        
        <h2>Web Designing</h2>
        <p>
            Web design encompasses many different skills and disciplines in the production and maintenance of websites. Web design encompasses many different skills and disciplines in the production and maintenance of websites. 
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Learn more", "Services", "Services")</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/img7.jpg" style="width:300px; height:175px" />
        
        <h2>Web Development</h2>
        <p>Web development is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet (a private network).</p>
        <p><a class="btn btn-default" @Html.ActionLink("Learn more", "Services", "Services")></a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/img9.jpg" style="width:300px; height:175px" />
        
        <h2>Net-Working</h2>
        <p>A computer network or data network is a telecommunications network which allows computers to exchange data. In computer networks, networked computing devices exchange data with each other using a data link.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Learn more", "Services", "Services") </a></p>
    </div>
    </div>