
@{
    ViewBag.Title = "Services";
}

<h2>Services</h2>

     <div class="col-lg-push-5">
         <img src="~/Content/Images/img3.jpg" style="width:1000px; height:300px" />
         
         <h3>Web Designing</h3>
    <p style="text-align:justify">
        Web design encompasses many different skills and disciplines in the production and maintenance of websites. The different areas of web design include web graphic design; interface design; authoring, including standardised code and proprietary software; user experience design; and search engine optimization. Often many individuals will work in teams covering different aspects of the design process, although some designers will cover them all.[1] The term web design is normally used to describe the design process relating to the front-end (client side) design of a website including writing mark up. Web design partially overlaps web engineering in the broader scope of web development. Web designers are expected to have an awareness of usability and if their role involves creating mark up then they are also expected to be up to date with web accessibility guidelines.
    </p>
    <p><a class="btn btn-primary btn-large" @Html.ActionLink("Order Now »","Index","Webdesign")></a></p>
</div>


<div class="col-lg-push-5">
    <img src="~/Content/Images/img6.png" style="width:1000px; height:300px" />
    
    <h3>Web Development</h3>
    <p style="text-align:justify">
        Web development is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet (a private network). Web development can range from developing the simplest static single page of plain text to the most complex web-based internet applications, electronic businesses, and social network services. A more comprehensive list of tasks to which web development commonly refers, may include web engineering, web design, web content development, client liaison, client-side/server-side scripting, web server and network security configuration, and e-commerce development.
    </p>
    <p><a class="btn btn-primary btn-large"@Html.ActionLink("Order Now »", "Index", "Webdevelopment")></a></p>
</div>
<div class="col-lg-push-5">
    <img src="~/Content/Images/img9.jpg" style="width:1000px; height:300px" />
    <h3>Networking</h3>
    <p style ="text-align:justify">
        A computer network or data network is a telecommunications network which allows computers to exchange data. In computer networks, networked computing devices exchange data with each other using a data link. The connections between nodes are established using either cable media or wireless media. The best-known computer network is the Internet.

        Network computer devices that originate, route and terminate the data are called network nodes.[1] Nodes can include hosts such as personal computers, phones, servers as well as networking hardware. Two such devices can be said to be networked together when one device is able to exchange information with the other device, whether or not they have a direct connection to each other.
        </p>
        <p><a class="btn btn-primary btn-large" @Html.ActionLink("Order Now »", "Index", "Networking")></a></p>
</div>

